@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    overflow-x: hidden;
    /* background:rgb(240,240,240, 1) */
}
/* .product-card{
background: rgba(255,255,255,0.1);
}
.home{
}
.product-card:hover{
    background: rgb(247,247,247);
} */

